@charset "utf-8";

@import "base/_variables";

// base 
@import "base/_base";

// icon  already have
// @import "base/_icon"

// animate
@import "base/_animate";

// custom  
@import "base/_custom";



// aside 
.aside_logo {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: white;
}

.menu {
    color: white
}

.menu-list {
     
    li{
        line-height: 28px;
      
        &>ul li {
            padding-left: 0;
        }
    }
     
    a {
        color: #b6b4c2;
        text-align: left;
        padding-left: 20px;
    }
}