/* Font
-------------------------- */
/* --------------------------
	Custom variables
----------------------------*/
html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  color: #454850;
}

/* centered columns styles */
.center-vertical {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.border-top {
  border-top: 1px solid #E5E6EB;
}

.border-bottom {
  border-bottom: 1px solid #E5E6EB;
}

.dd {
  border: 1px solid red;
}

html,
body {
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 500;
  color: #454850;
}

.is-main-content {
  padding: 2.3rem;
}

.menu {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.menu #wrapper {
  flex: 1;
}

@keyframes animate-flyout {
  0% {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity .3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
  opacity: 0;
}

.el-header,
.el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 160px;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}
