/* Font
-------------------------- */
/* --------------------------
	Custom variables
----------------------------*/
html,
body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  color: #454850;
}

/* centered columns styles */
.center-vertical {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.border-top {
  border-top: 1px solid #E5E6EB;
}

.border-bottom {
  border-bottom: 1px solid #E5E6EB;
}

.dd {
  border: 1px solid red;
}
