// Variables
@import "base/_variables";

html,
body {
    height: 100%;
    background: #ECF0F3;
}
body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }

h1,h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: $type-400;
	color: $text-bold;
}

@import "base/_mixin";

// Utilities
.border-top {
    border-top: 1px solid $border-color;
}

.border-bottom {
    border-bottom: 1px solid $border-color;
}


.dd {
    @include dd();
}

html,
body {
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    // @extend .is-fullheight;
}

strong {
    font-weight: $type-500;
    color: $text-bold;
}

.is-main-content {
    padding: 2.3rem;
}

 

.text-left {
    text-align: left;

}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
